/*
 * Device Tree overlay for MPS3520
 *
 */

/dts-v1/;
/plugin/;


/ {
        compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&spi0>;
        __overlay__ {
			status = "okay";
		};
    };

	fragment@1 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};
        
        fragment@2 {
                target = <&gpio>;
                __overlay__ {
                        pitft_pins: pitft_pins {
                                brcm,pins = <17 23 24 25>;
                                brcm,function = <0 1 1 1>; /* out out out */
                        };
                };
        };

        fragment@3 {
                target = <&spi0>;
                __overlay__ {
                        /* needed to avoid dtc warning */
                        #address-cells = <1>;
                        #size-cells = <0>;

                        pitft: pitft@0{
                                compatible = "makerlab,sx035hv006";
                                pinctrl-names = "default";
                                pinctrl-0 = <&pitft_pins>;

                                reg = <0>;
                                spi-max-frequency = <128000000>;

                                rotation = <0>;
				reset-gpios = <&gpio 25 0>;
                                dc-gpios = <&gpio 24 0>;
                                backlight = <&backlight>;
                        };
                        /* needed for touchscreen */
                        pitft_ts: pitft-ts@1 {
				compatible = "ti,ads7846";
				reg = <1>;

				spi-max-frequency = <2000000>;
				interrupts = <17 2>; /* high-to-low edge triggered */
				interrupt-parent = <&gpio>;
				pendown-gpio = <&gpio 17 1>;
				ti,swap-xy;
				ti,x-plate-ohms = /bits/ 16 <100>;
				ti,pressure-max = /bits/ 16 <255>;
			};
                };
        };
	
        fragment@4 {
		target-path = "/soc";
		__overlay__ {
			backlight: backlight {
				compatible = "gpio-backlight";
				gpios = <&gpio 23 0>;
			};
		};
	};
        
        __overrides__ {
                speed =   <&pitft>,"spi-max-frequency:0";
                rotation =  <&pitft>,"rotation:0";
        };
};
